.btnPost {
    display: inline-block;
    border-radius: 4px;
    background-color: #4CAF50;
    border: none;
    color: #FFFFFF;
    text-align: center;
    padding: 6px;
    width: 80px;
    transition: all 0.5s ;
    cursor: pointer;
    margin: 5px;
    outline: none;
  }

  .btnPost:hover {
    transform: scale(.98);
  }
 
  input {
    border-radius: 5px;
  }

  input[type='text'] {
    border: 1px solid grey;
    color: wheat;
    margin: 5px;
    padding: 10px;
    background-color: rgb(0,0,0, 0.5);
  }
  .emptyInput {
    border: 1px solid red;
  }
  
  input[type='text']:focus {
    border: 1px solid rgb(13, 185, 13);
    outline: none;
    box-shadow: 0 0 5px green;
  }