.button1 {
  display: inline-block;
  border-radius: 4px;
  background-color: #4CAF50;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  outline: none;
}

.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button1:hover span {
  padding-right: 25px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}


input[type='number']:focus {
  border: 1px solid rgb(13, 185, 13);
  outline: none;
  box-shadow: 0 0 5px green;
}

input[type='number'] {
  border: 1px solid grey;
  color: wheat;
  background-color: rgb(0, 0, 0, 0.5);
  margin: 5px;
  padding: 10px;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

select {
  width: 130px;
  padding: 8px;
  margin: 10px 30px;
  border-radius: 5px;
}

select {
  outline: none;
  cursor: pointer;
  color: rgb(243, 230, 207);
  background-color: rgb(0, 0, 0, 0.5);

}

select:focus {
  border: 1px solid rgb(13, 185, 13);
  box-shadow: 0 0 5px green;
}