table {
    border-collapse: collapse;
    display: block;
    position: fixed;
    height: 280px;
    border-radius: 10px;
    background-color: rgb(0,0,0, 0.2);
    margin-left: 10px;
}

th,
td {
    text-align: center;
    padding: 8px;
}

th {
    background-color: rgb(76, 175, 80);
    color: white;
}

.table {
    margin: 10px 30px;
}

.deleteBtn {
    color: #fff;
    background-color: #d43f3a;
    border: none;
    padding: 5px 6px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.deleteBtn:hover {
    background-color: #d9534f;

}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(76, 175, 80, 0.3); 
    border-radius: 15px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgb(76, 175, 80, 1); 
}

::-webkit-scrollbar-corner {
    display: none;
}

::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}

