table {
    border-collapse: collapse;
    width: 100%;
    display: block;
    height: 430px;
    border-radius: 10px;
}

th,
td {
    text-align: center;
    padding: 8px;
    
}

th {
    background-color: #4CAF50;
    color: white;
}

.table {
    margin: 10px 30px;
    
}

.deleteBtn {
    color: #fff;
    background-color: #d43f3a;
    border: none;
    padding: 5px 6px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.deleteBtn:hover {
    background-color: #d9534f;

}

::-webkit-scrollbar {
    border-radius: 10px;
}
  