.App {
  text-align: center;
  display: flex;
  background-color: rgb(10, 10, 10, 0.3);
  overflow: hidden;
  color: rgb(243, 230, 207);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
  border-radius: 5px;
  width: 800px;
  height: 100vh;
  margin: auto;
  align-items: center;
  justify-content: center;
}


.App table {
  overflow: scroll;
}


.logOutBtn{
  display: inline-block;
  border-radius: 2px;
  background-color: #4CAF50;
  border: none;
  color: #FFFFFF;
  text-align: center;
  padding: 6px;
  width: 80px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  outline: none;
}


.logOutBtn:hover{
  transform: scale(.99);
  background-color: rgb(76, 175, 80, 0.7);
}

.profilPic {
  height: 30px;
  border-radius: 50%;
}