.body {
    margin: 0;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, .5);
    width: 100%;
    height: 100vh;
    z-index: 100;
}

.inner {
    border-radius: 10px;
    padding: 30px;
    background-color: rgb(255, 255, 255, 0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    display: table;
    transform: translate(-50%, -50%);
    color: rgb(15, 179, 21);
}

.close {
    transform: rotate(45deg);
    position: absolute;
    top: 0px;
    right: 5px;
    cursor: pointer;
    font-size: 25px;
}

.close:hover {
    color: red;
}